
.home{
  height: 100vh;
width: 20%;
background-color: black;
  color: white;
  padding-left: 2rem;
  padding-top: 2rem;
}

.homepage{


}
.size {
    padding-top: 3rem;
  }
  
  .img-myself {
    padding-top: 3rem;
    width: 20%;

  }
  .social-us {

    padding-left: 2rem;
border-radius: 50%;
  width: 90%;
    display: inline;
color:white;

  }
  .all-links{
    margin-top: 3rem
  }

  .links{
    display: block;
    margin-top:1.8rem;
    margin-left:.6rem;
    color: white;
  }
  .span{
    margin-left: .6rem;
    color: white;
    font-size: .8rem;
  }

  .homepage1{
    display:flex;
  }
  .homepage2{
    margin-left: 13rem;
    margin-top: 9rem;
  }

  .animation{
    display: inline;
  }